.timer-container{
    position: relative;
    width:250px;
    height:250px;
    left: 18%;
    .svg-circle-container{
        stroke: none;
        fill:none;
    }
    .svg-circle{
        stroke-width:5px;
        stroke:#687073;
        fill: transparent;
    }
    .time-left{
        position: absolute;
        width:250px;
        height:250px;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 57px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #ffffff;
    }
    .svg-path-remaining{
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        stroke:#ff5155;
    }
    .svg-holder{
        transform: scaleX(-1);
    }

}